<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="education">Education</a></li>
            <li><a href="employment">Employment</a></li>
            <li><a href="conferencepresentations">Conference Presentations</a></li>
            <li><a href="skills">Skills</a></li>
            <li><a href="certifications">Certifications</a></li>
            <li><a href="awards">Awards</a></li>
        </ul>
    </nav>
    <main>
        {{ content }}
    </main>
</body>
</html>